[submodule "external/arith64"]
	path = external/arith64
	url = https://github.com/glitchub/arith64
[submodule "external/gdtoa"]
	path = external/gdtoa
	url = https://github.com/embeddedartistry/gdtoa
[submodule "external/limine-efi"]
	path = external/limine-efi
	url = https://github.com/limine-bootloader/limine-efi
[submodule "external/flanterm"]
	path = external/flanterm
	url = https://github.com/mintsuki/flanterm
