[submodule "external/gdtoa"]
	path = external/gdtoa
	url = https://github.com/embeddedartistry/gdtoa
[submodule "external/limine-efi"]
	path = external/limine-efi
	url = https://github.com/limine-bootloader/limine-efi
[submodule "external/flanterm"]
	path = external/flanterm
	url = https://github.com/mintsuki/flanterm
[submodule "external/cc-runtime"]
	path = external/cc-runtime
	url = https://github.com/osdev0/cc-runtime
	branch = trunk
